.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #11a129;
}

.header_area .navbar .nav .nav-item .nav-link {
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #11a129;
}

.gradient-bg,
.primary-btn,
.add-bag .add-btn,
.single-product .product-details .prd-bottom .social-info span:after,
.grid-btn:hover,
.list-btn:hover,
.grid-btn.active,
.list-btn.active,
.pagination a.active,
.pagination a:hover,
.s_Product_carousel .owl-dots div.active,
.s_product_text .card_area .icon_btn:after,
.product_description_area .nav.nav-tabs li a.active,
.blog-pagination .page-item.active .page-link,
.single-footer-widget .click-btn {

    background: linear-gradient(90deg, #1f8612 0%, #11a129 100%);
}

.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 2px solid #11a129;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    padding-left: 20px;
}

.contact_form .primary-btn {
    background: #11a129;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 2;
}

.header_area .navbar .nav .nav-item .btn.btn-rounded {
    background: #11a129;
    color: #fff;
    border: none;
    border-radius: 2;
}

a {
    color: #fff;
}

b,
sup,
sub,
u,
del {
    color: #1f8612;
}

.banner-area {
    background: url(../../img/back-img.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.exclusive-deal-area .exclusive-left {
    background: url(../../img/exclusive.jpg) center no-repeat;
}

.container .user-profile {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    background: #1f8612;
    margin-bottom: 10px;
}

.product_image_area {
    padding-top: 120px;
    margin-bottom: 30px;
}

.filter-bar {
    padding: 0px 20px 10px 20px;
    background: #1f8612;
}

.sidebar-categories .head {
    background: #1f8612;
}

.banner-area {
    margin-bottom: 55px;
}

.lnr-home:before {
    color: #11a129;
}

.lnr-phone-handset:before {
    color: #11a129;
}

.lnr-envelope:before {
    color: #11a129;

}

.pagination {
    margin-top: 10px;
    border-left: 0px solid #eee;
    border-radius: 0px;
}

.pagination a {
    width: 40px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #035b0a;
    border-color: #19191a;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #11a129;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #ddd;
}

.sidebar-profile .main-nav-list a {
    font-size: 14px;
    color: #000;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
    /* &:hover, &:focus {
        background-color: #333;
    } */
}

.sidebar-profile .main-nav-list.active a {
    font-size: 14px;
    background: #11a129;
    color: #fff;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
}


.sidebar-profile .head {
    line-height: 60px;
    background: #1f8612;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

#exTab2 h3 {
    color: #000;
    background-color: #fff;
    padding: 5px 15px;
}

.header-profile {
    background: #1f8612;
    height: 60px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.header-profile h2 {
    color: #fff !important;
}

.nav-tabs {
    background: #0f9669;
    line-height: 40px;
}

.nav-tabs :hover {
    background: #032213;
    line-height: 40px;
    color: #1f8612;
}

.nav-tabs>li.active>a {
    padding-right: 10px;
    flex: 50%;
    width: 50%;
    border-right: 1px solid #999;
}

#tabs {
    background: #007b5e;
    color: #eee;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

.subject {
    background: #f8f8f8;
}

.subject .view {
    width: 100%;
}

.view .head {
    height: 32px;
    background: #303030;
    color: #ff0000;
}

.view .table-row {
    box-shadow: 0px 3px 7px #d9d9d9;
}

table.view th,
table.view td {
    padding: 5px;
}

.messege {
    border: 0px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    height: 70px;
    box-shadow: 1px 2px 0px #1f8612;
}

.darker {
    border-color: #ccc;
    background-color: #032213;
}

.messege::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.input_msg_write .msg_send_btn {
    color:#fff;
}

.messege-box {
    border: 1px solid #000;
    width: 100%;
}

/* test css */
.messaging {
    padding: 0 0 50px 0;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.mesgs {
    float: left;
    padding: 30px 15px 5px 25px;
    width: 100%;
    border: 2px solid #1f8612;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebe9e9 none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_withd_msg {
    width: 67%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing_msg {
    overflow: hidden;
    margin: 20px 0 20px;
}

.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
    background: #1f8612 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #1f8612 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}


#map {
    height: 600px;
    width: 100%;
    margin-top: 30px;
}

.product-details a{
    color: #1f8612;
    font-size: 20px;
}

.sidebar-categories .main-nav-list a:hover {
    color: #27f10f;
}

.single-product .product-details .prd-bottom .social-info span {
    background: #1f8612;
}