.sign-box {
    max-width: 350px;
    background: #c4efc1;
    border: solid 1px #65dd7d;
}
.btn{
    border: solid 1px #03260b;
    background: #14862e;
}
.btn:hover {
    background-color: #1e4b29;
    border-color: #174321;
}
.sign-box .sign-avatar.no-photo {
    border: solid 2px #28a745;
    color: #28a745;
}
.btn.btn-primary {
    border: solid 1px #03260b;
    background: #14862e;
}
.btn.btn-primary:hover {
    background-color: #1e4b29;
    border-color: #174321;
}
.btn.btn-default {
    border: solid 1px #03260b;
    background: #14862e;
}
.btn.btn-default:hover {
    background-color: #1e4b29;
    border-color: #174321;
}
.fa {
    margin-right: 7px;
}
form.create {
    margin: 0;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top : 150px;
    background: #fff;
    border: solid 1px #d8e2e7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    font-size: 1rem;
    position: relative;
}
form.product {
    margin: 0;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    background: #fff;
    border: solid 1px #d8e2e7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    font-size: 1rem;
    position: relative;
}
.btn.btn-primary {
    border: solid 1px #03260b;
    background: #14862e;
    margin-left: 254px;
    margin-bottom: 12px;
    margin-top: 20px;
}
.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

.form-group {
    margin-top: 1rem;
}

.btn.btn-primary {
    border: solid 1px #03260b;
    background: #14862e;
    margin-left: 530px;
    margin-bottom: 12px;
    margin-top: 20px;
}
.page-item.active .page-link {
    border-color: #03260b!important;
    background-color: #14862e!important;
}
table.dataTable {
    margin-top: 15px!important;
    text-align: center;
}
.logout-button .a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: 0!important;
}

b, sup, sub, u, del {
    color: #3a8b08;
}
.box-typical .box-typical-header .tbl-cell.tbl-cell-action-bordered {
    border-left: solid 0px #d8e2e7;
}
.box-typical{
    margin-bottom: 20px;
}
.card {
    border-color: #000;
}
.box-typical .box-typical-header {
    border-radius: 4px;
    border: solid 1px #000;
    margin-bottom: 20px;
}
.box-typical {
    background: #fff;
    margin: 0 0 0px;
}
.box-typical-body{
    padding: 16px;
    border-radius: 4px;
    border: solid 1px #000;
}
a, a:focus, a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: 0!important;
}
.site-header .user-menu.dropdown .dropdown-toggle {
    display: block;
    color: #fff;
    /* height: 30px; */
    border: solid 1px #000;
    border-radius: 4px;
    line-height: 30px;
    width: 100px;
    height: 40px;
    background: #14862e;
}
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 50%;
    max-width: 33%;
}
.statistic-box>div {
     height: 200px;
}
.statistic-box .caption {
    font-size: 1.5rem;
    font-weight: 1000;
    position: relative;
    min-height: 35px;
    line-height: 1;
    margin-top: 20px;
}
.statistic-box .number {
    font-size: 3.125rem;
    line-height: 1;
    padding: 50px 0 0;
}
.invoice-box {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border: 1px solid #03260b;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #03260b;
    background: white;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table tr.heading {
    width: 100%;
    line-height: inherit;
    text-align: center;
}

.invoice-box table tr.item {
    width: 100%;
    line-height: inherit;
    text-align: center;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr.top td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.address td:nth-child(3) {
    text-align: right;
}

.invoice-box table tr.information td:nth-child(3) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}




.messege {
    border: 0px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    height: 70px;
    box-shadow: 1px 2px 0px #1f8612;
}

.darker {
    border-color: #ccc;
    background-color: #032213;
}

.messege::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.input_msg_write .msg_send_btn {
    color:#fff;
}

.messege-box {
    border: 1px solid #000;
    width: 100%;
}

/* test css */
.messaging {
    padding: 0 0 50px 0;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.mesgs {
    float: left;
    padding: 30px 15px 5px 25px;
    width: 100%;
    border: 2px solid #1f8612;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebe9e9 none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_withd_msg {
    width: 67%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing_msg {
    overflow: hidden;
    margin: 20px 0 20px;
}

.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
    background: #1f8612 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #1f8612 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}